[submodule "HeistEngine/deps/spdlog"]
	path = HeistEngine/deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HeistEngine\\deps\\GLFW"]
	path = HeistEngine\\deps\\GLFW
	url = https://github.com/ltnguyen14/glfw
