[submodule "HeistEngine/deps/spdlog"]
	path = HeistEngine/deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HeistEngine/deps/GLFW"]
	path = HeistEngine/deps/GLFW
	url = https://github.com/ltnguyen14/glfw.git
[submodule "HeistEngine/deps/glm"]
	path = HeistEngine/deps/glm
	url = https://github.com/g-truc/glm.git
